@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file to ensure smooth transitions */
html {
    transition: background-color 0.3s ease;
  }
  
  html.dark {
    color-scheme: dark;
  }
  
  /* For number input arrows */
  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  