@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file to ensure smooth transitions */
html {
    transition: background-color 0.3s ease;
  }
  
  html.dark {
    color-scheme: dark;
  }
  
  /* For number input arrows */
  @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  
@layer utilities {
  .bg-gradient-radial-light {
    background-image: radial-gradient(circle at center, transparent 0%, rgba(255, 255, 255, 0.4) 100%);
  }
  
  .bg-gradient-radial-dark {
    background-image: radial-gradient(circle at center, rgba(139, 92, 246, 0.05) 0%, transparent 70%);
  }

  .animate-shimmer {
    animation: shimmer 3s infinite;
    background-size: 200% 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.bg-grid-white {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}
  